# Connect to Mongodb
-  MongoClient
-  Print Database Names

In [1]:
from pymongo import MongoClient
from pprint import pprint
client = MongoClient('mongodb://localhost:27017/')
print(client.database_names())

['admin', 'config', 'exhibits', 'local', 'orders', 'products', 'test-database-1', 'users']

# Choose Database
-  Print Collection Names (like **table**)

In [10]:
mydb = client['test-database-1']
print(mydb.collection_names())

['mycollection']

# Drop Database
-  For Example: client.drop_database('test-database-1')

# How Many Documents in One Collection

In [11]:
mydb.mycollection.count()

3

# Print one Document

In [14]:
pprint(mydb.mycollection.find_one())

{'_id': ObjectId('5b2558e0abda89d294b315cf'),
 'author': 'Duke',
 'date': datetime.datetime(2018, 6, 16, 18, 37, 20, 376000),
 'tags': ['MongoDB', 'PyMongo', 'Tutorial'],
 'title': 'PyMongo 101'}

# Print all Document

In [16]:
# cursor
mydb.mycollection.find()
for coll in mydb.mycollection.find():
    pprint(coll)

{'_id': ObjectId('5b2558e0abda89d294b315cf'),
 'author': 'Duke',
 'date': datetime.datetime(2018, 6, 16, 18, 37, 20, 376000),
 'tags': ['MongoDB', 'PyMongo', 'Tutorial'],
 'title': 'PyMongo 101'}
{'_id': ObjectId('5b2558e0abda89d294b315d0'),
 'author': 'Duke II',
 'date': datetime.datetime(2018, 6, 16, 18, 37, 20, 376000),
 'tags': ['MongoDB II', 'PyMongo II', 'Tutorial II'],
 'title': 'PyMongo II 101'}
{'_id': ObjectId('5b2558e0abda89d294b315d1'),
 'author': 'Duke III',
 'date': datetime.datetime(2018, 6, 16, 18, 37, 20, 376000),
 'tags': ['MongoDB III', 'PyMongo III', 'Tutorial III'],
 'title': 'PyMongo III 101'}

# Insert Many Document in a New Collection

In [18]:
import datetime
myrecord = [{"author": "Duke 6",
              "title" : "PyMongo 101-A6",
              "tags" : ["MongoDB 6", "PyMongo 6", "Tutorial 6"],
              "date" : datetime.datetime(2015, 11, 28, 1, 13)},
             {"author": "Adja",
              "title": "MongoDB 101-A7",
              "note": "Schema free MongoDB",
              "date": datetime.datetime(2015, 11, 29, 11, 42)}
            ]
mydb.mytest.insert_many(myrecord)

In [21]:
list(mydb.mytest.find())

[{'_id': ObjectId('5b255d8dabda89d2d69e91ba'),
  'author': 'Duke 6',
  'title': 'PyMongo 101-A6',
  'tags': ['MongoDB 6', 'PyMongo 6', 'Tutorial 6'],
  'date': datetime.datetime(2015, 11, 28, 1, 13)},
 {'_id': ObjectId('5b255d8dabda89d2d69e91bb'),
  'author': 'Adja',
  'title': 'MongoDB 101-A7',
  'note': 'Schema free MongoDB',
  'date': datetime.datetime(2015, 11, 29, 11, 42)}]

In [19]:
print(mydb.collection_names())

['mycollection', 'mytest']

# Drop Collection
-  For example: mydb.mycollection.drop()

# Simple Query

In [25]:
print(mydb.mycollection.find({"author": "Duke"}).count())
for document in mydb.mycollection.find({"author": "Duke"}):
    pprint(document)

1
{'_id': ObjectId('5b2558e0abda89d294b315cf'),
 'author': 'Duke',
 'date': datetime.datetime(2018, 6, 16, 18, 37, 20, 376000),
 'tags': ['MongoDB', 'PyMongo', 'Tutorial'],
 'title': 'PyMongo 101'}

In [27]:
import datetime
for document in mydb.mycollection.find({"date": {"$lt": datetime.datetime(2018, 7, 1)}}).sort("author"):
    pprint(document)

{'_id': ObjectId('5b2558e0abda89d294b315cf'),
 'author': 'Duke',
 'date': datetime.datetime(2018, 6, 16, 18, 37, 20, 376000),
 'tags': ['MongoDB', 'PyMongo', 'Tutorial'],
 'title': 'PyMongo 101'}
{'_id': ObjectId('5b2558e0abda89d294b315d0'),
 'author': 'Duke II',
 'date': datetime.datetime(2018, 6, 16, 18, 37, 20, 376000),
 'tags': ['MongoDB II', 'PyMongo II', 'Tutorial II'],
 'title': 'PyMongo II 101'}
{'_id': ObjectId('5b2558e0abda89d294b315d1'),
 'author': 'Duke III',
 'date': datetime.datetime(2018, 6, 16, 18, 37, 20, 376000),
 'tags': ['MongoDB III', 'PyMongo III', 'Tutorial III'],
 'title': 'PyMongo III 101'}